/****signIn*********/
body{
  margin-top:20px;
  background:#eee;
}
.container {
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
  width: 100%;
}

@media (min-width: 576px) {
  .container {
      max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
      max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
      max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
      max-width: 1140px;
  }
}



.card-columns .card {
  margin-bottom: 0.75rem;
}

@media (min-width: 576px) {
  .card-columns {
      column-count: 3;
      column-gap: 1.25rem;
  }
  .card-columns .card {
      display: inline-block;
      width: 100%;
  }
}
.text-muted {
  color: #9faecb !important;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}
.mb-3 {
  margin-bottom: 1rem !important;
}

.input-group {
  position: relative;
  display: flex;
  width: 100%;
}

/*****Home*******/
body{margin-top:20px;}
.blog-grid {
  position: relative;
  box-shadow: 0 1rem 1.75rem 0 rgba(45, 55, 75, 0.1);
  height: 100%;
  border: 0.0625rem solid rgba(220, 224, 229, 0.6);
  border-radius: 0.25rem;
  transition: all .2s ease-in-out;
  height: 100%
}

.blog-grid span {
  color: #292dc2
}

.blog-grid img {
  width: 100%;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem
}

.blog-grid-text {
  position: relative
}

.blog-grid-text>span {
  color: #292dc2;
  font-size: 13px;
  padding-right: 5px
}

.blog-grid-text h4 {
  line-height: normal;
  margin-bottom: 15px
}

.blog-grid-text .meta-style2 {
  border-top: 1px dashed #cee1f8;
  padding-top: 15px
}

.blog-grid-text .meta-style2 ul li {
  margin-bottom: 0;
  font-weight: 500
}

.blog-grid-text .meta-style2 ul li:last-child {
  margin-right: 0
}

.blog-grid-text ul {
  margin: 0;
  padding: 0
}

.blog-grid-text ul li {
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  margin: 5px 10px 5px 0
}

.blog-grid-text ul li:last-child {
  margin-right: 0
}

.blog-grid-text ul li i {
  font-size: 14px;
  font-weight: 600;
  margin-right: 5px
}

.blog-grid-text p {
  font-weight: 400;
  padding: 0
}

.blog-list-left-heading:after,
.blog-title-box:after {
  content: '';
  height: 2px
}

.blog-grid-simple-content a:hover {
  color: #1d184a
}

.blog-grid-simple-content a:hover:after {
  color: #1d184a
}
.blog-grid-text {
  position: relative
}

.blog-grid-text>span {
  color: #292dc2;
  font-size: 13px;
  padding-right: 5px
}

.blog-grid-text h4 {
  line-height: normal;
  margin-bottom: 15px
}

.blog-grid-text .meta-style2 {
  border-top: 1px dashed #cee1f8 !important;
  padding-top: 15px
}

.blog-grid-text .meta-style2 ul li {
  margin-bottom: 0;
  font-weight: 500
}

.blog-grid-text .meta-style2 ul li:last-child {
  margin-right: 0
}

.blog-grid-text ul {
  margin: 0;
  padding: 0
}

.blog-grid-text ul li {
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  margin: 5px 10px 5px 0
}

.blog-grid-text ul li:last-child {
  margin-right: 0
}

.blog-grid-text ul li i {
  font-size: 14px;
  font-weight: 600;
  margin-right: 5px
}

.blog-grid-text p {
  font-weight: 400;
  padding: 0
}

a, a:active, a:focus {
  color: #575a7b;
  text-decoration: none;
  transition-timing-function: ease-in-out;
  -ms-transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out;
  -webkit-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-duration: .2s;
  -ms-transition-duration: .2s;
  -moz-transition-duration: .2s;
  -webkit-transition-duration: .2s;
  -o-transition-duration: .2s;
}

.pagination {
  border-radius: 0;
  padding: 0;
  margin: 0
}

.pagination ul {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  margin: 0 auto;
  padding: 0
}

.pagination li {
  display: inline
}

.pagination a {
  float: left;
  padding: 0 18px;
  line-height: 40px;
  text-decoration: none;
  border: 1px solid #dbdbdb;
  border-left-width: 0;
  background: #fff
}

.pagination a:hover {
  background-color: #1d184a;
  color: #fff
}

.pagination .active a {
  background-color: #f7f7f7;
  color: #999;
  cursor: default
}

.pagination .disabled span {
  color: #999;
  background-color: transparent;
  cursor: default
}

.pagination .disabled a {
  color: #999;
  background-color: transparent;
  cursor: default
}

.pagination .disabled a:hover {
  color: #999;
  background-color: transparent;
  cursor: default
}

.pagination li:first-child a {
  border-left-width: 1px
}

.mt-6, .my-6 {
  margin-top: 3.5rem;
}
/***Error page*****/
body{
  background-color: #39bbdb;
  color: #fff;
  padding-bottom: 0;
  min-height: 100%;
  font-family: 'Open Sans','Segoe UI';
  font-size: 13px;
}

.error-header {
background: #fff;
height: 180px;
}

.error-container {
background: rgba(0,0,0,.05);
text-align: center;
}

.error-container h1 {
color: #39bbdb;
}

.error-container h1 {
font-size: 110px;
font-weight: 300;
margin: -103px 0 0 0;
text-align: center;
}

.error-divider {
margin-top: -27px;
padding: 30px 0;
}

.error-container h2 {
font-size: 58px;
font-weight: 300;
margin: 0;
/* text-transform: uppercase; */
}

.error-container p.description {
color: #e5e5e5;
font-size: 40px;
margin: 0;
}

.error {
  color: rgb(236, 15, 15);
}

.return-btn, .return-btn:hover {
border: 1px solid rgba(255,255,255,.3);
padding: 10px 15px;
margin-top: 100px;
margin-bottom: 30px;
display: inline-block;
-webkit-border-radius: 5px;
-webkit-background-clip: padding-box;
-moz-border-radius: 5px;
-moz-background-clip: padding;
border-radius: 5px;
background-clip: padding-box;
color: #fff;
font-size: 16px;
font-weight: 300;
}

a:hover{
  text-decoration:none;    
}

/**new Person or event*************/
/*
body{
  background:#eee;    
}
*/
.widget-author {
margin-bottom: 58px;
}
.author-card {
position: relative;
padding-bottom: 48px;
background-color: #fff;
box-shadow: 0 12px 20px 1px rgba(64, 64, 64, .09);
}
.author-card .author-card-cover {
position: relative;
width: 100%;
height: 100px;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}
.author-card .author-card-cover::after {
display: block;
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
content: '';
opacity: 0.5;
}

.author-card .author-card-cover > .btn {
position: absolute;
top: 12px;
right: 12px;
padding: 0 10px;
}
.author-card .author-card-profile {
display: table;
position: relative;
margin-top: -22px;
padding-right: 15px;
padding-bottom: 16px;
padding-left: 20px;
z-index: 5;
}
.author-card .author-card-profile .author-card-avatar, .author-card .author-card-profile .author-card-details {
display: table-cell;
vertical-align: middle;
}
.author-card .author-card-profile .author-card-avatar {
width: 85px;
border-radius: 50%;
box-shadow: 0 8px 20px 0 rgba(0, 0, 0, .15);
overflow: hidden;
}
.author-card .author-card-profile .author-card-avatar > img {
display: block;
width: 100%;
}
.author-card .author-card-profile .author-card-details {
padding-top: 20px;
padding-left: 15px;
}
.author-card .author-card-profile .author-card-name {
margin-bottom: 2px;
font-size: 14px;
font-weight: bold;
}
.author-card .author-card-profile .author-card-position {
display: block;
color: #8c8c8c;
font-size: 12px;
font-weight: 600;
}
.author-card .author-card-info {
margin-bottom: 0;
padding: 0 25px;
font-size: 13px;
}
.author-card .author-card-social-bar-wrap {
position: absolute;
bottom: -18px;
left: 0;
width: 100%;
}
.author-card .author-card-social-bar-wrap .author-card-social-bar {
display: table;
margin: auto;
background-color: #fff;
box-shadow: 0 12px 20px 1px rgba(64, 64, 64, .11);
}
.btn-style-1.btn-white {
  background-color: #fff;
}
.list-group-item i {
  display: inline-block;
  margin-top: -1px;
  margin-right: 8px;
  font-size: 1.2em;
  vertical-align: middle;
}
.mr-1, .mx-1 {
  margin-right: .25rem !important;
}

.list-group-item.active:not(.disabled) {
  border-color: #e7e7e7;
  background: #fff;
  color: #ac32e4;
  cursor: default;
  pointer-events: none;
}
.list-group-flush:last-child .list-group-item:last-child {
  border-bottom: 0;
}

.list-group-flush .list-group-item {
  border-right: 0 !important;
  border-left: 0 !important;
}

.list-group-flush .list-group-item {
  border-right: 0;
  border-left: 0;
  border-radius: 0;
}
.list-group-item.active {
  z-index: 2;
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}
.list-group-item:last-child {
  margin-bottom: 0;
  border-bottom-right-radius: .25rem;
  border-bottom-left-radius: .25rem;
}
a.list-group-item, .list-group-item-action {
  color: #404040;
  font-weight: 600;
}
.list-group-item {
  padding-top: 16px;
  padding-bottom: 16px;
  -webkit-transition: all .3s;
  transition: all .3s;
  border: 1px solid #e7e7e7 !important;
  border-radius: 0 !important;
  color: #404040;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: .08em;
  text-transform: uppercase;
  text-decoration: none;
}
.list-group-item {
  position: relative;
  display: block;
  padding: .75rem 1.25rem;
  margin-bottom: -1px;
  background-color: #fff;
  border: 1px solid rgba(0,0,0,0.125);
}
.list-group-item.active:not(.disabled)::before {
  background-color: #ac32e4;
}

.list-group-item::before {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 3px;
  height: 100%;
  background-color: transparent;
  content: '';
} 
/*****Update***/
body{margin-top:20px;
  /* color: #9b9ca1; */
  }
  .bg-secondary-soft {
      background-color: rgba(208, 212, 217, 0.1) !important;
  }
  .rounded {
      border-radius: 5px !important;
  }
  .py-5 {
      padding-top: 3rem !important;
      padding-bottom: 3rem !important;
  }
  .px-4 {
      padding-right: 1.5rem !important;
      padding-left: 1.5rem !important;
  }
  .file-upload .square {
      height: 250px;
      width: 250px;
      margin: auto;
      vertical-align: middle;
      border: 1px solid #e5dfe4;
      background-color: #fff;
      border-radius: 5px;
  }
  .text-secondary {
      --bs-text-opacity: 1;
      color: rgba(208, 212, 217, 0.5) !important;
  }
  .btn-success-soft {
      color: #28a745;
      background-color: rgba(40, 167, 69, 0.1);
  }
  .btn-danger-soft {
      color: #dc3545;
      background-color: rgba(220, 53, 69, 0.1);
  }
  .form-control {
      display: block;
      width: 100%;
      padding: 0.5rem 1rem;
      font-size: 0.9375rem;
      font-weight: 400;
      line-height: 1.6;
      color: #29292e;
      background-color: #fff;
      background-clip: padding-box;
      border: 1px solid #e5dfe4;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      border-radius: 5px;
      -webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
      transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
      transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
      transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  }

  /*****Sign up****/
  body{
      margin-top:20px;
      background-color: #39bbdb;
  }
  .card {
      margin-bottom: 1.5rem;
      box-shadow: 0 1px 15px 1px rgba(52,40,104,.08);
  }
  
  .card {
      position: relative;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-direction: column;
      flex-direction: column;
      min-width: 0;
      word-wrap: break-word;
      background-color: #fff;
      background-clip: border-box;
      border: 1px solid #e5e9f2;
      border-radius: .2rem;
      color: #1d184a;
  }
  /*****Create**/
  .jumbotron label {
      font-size:12px;    
  }
  
  .reg-icon{
      color:#5bc0de;
      font-weight:bold;
      text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.4) !important;
  }
  
  .nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus {
      color: white;
      background-color: #5bc0de;
  }
  
  .prj-name{
      font-weight:bold;
      color:#5bc0de;
  }

  .createEvent{
      color: white;
  }
 

  .col-sm-10{
      margin-bottom: 20px;
  }
  .signOut{
      margin-left: 10px;
      
  }

  
/****/
  .wrap {
      max-width: 1250px;
      margin: 0 auto;
      padding: 0 1rem;
  }

  header {
      background:blue;
      padding: 1rem 0;
      margin-bottom: 2rem;
      size: 70%;
  }
  .header--flex {
      display: flex;
      justify-content: space-between;
      align-items: center;
  }

  .header--logo a {
      font-size: 1.25rem;
      color: #fff;
  }

  .button {
      background: blue;
      color: #fff;
      font-size: 1rem;
      padding: .75rem 1.5rem;
      border: 0;
      margin: .5rem 0 .5rem 0;
      display: block;
      width: 210px;
      text-align: center;
      border-radius: .5rem;
      font-weight: bold;
      transition: background 0.2s;
  }

  .main--grid {
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 1.5rem;
      grid-auto-rows: 1fr;
  }

  /*card*/
  .event--module {
      background: blue;
      border-radius: .5rem;
      padding: 1.5rem;
      margin-bottom: 1.5rem;
      display: block;
  }

  .event--title {
      color: #fff;
      font-weight: 700;
      font-size: 1.25rem;
  }

  .event--label {
      color: #fff;
      font-size: .9rem;
      font-weight: 400;
      margin-bottom: .25rem;
  }
  /*update*/
  .my-5{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
  }